{% extends "base.html.jinja" %}
{% block statics %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <link rel="stylesheet" type ="text/css" href="/static/create_style.css">
    <title>Customize Uno Game</title>
{% endblock %}
{%block content %}
    <div class="container">
        <h1>Customize Your Uno Game</h1>
        <label for="player-count">Number of Players:</label>
        <input type="number" id="player-count" min="2" max="10" value="4">
        <br>
        <label for="difficulty">Difficulty Level:</label>
        <select id="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br>
        <button onclick="startGame()">Start Game</button>
    </div>
    <script src="/uno/static/create_script.js"></script>
{% endblock %}