{% extends "base.html.jinja" %}
{% block statics %}
    <title>Uno</title>
    <link rel="stylesheet" type ="text/css" href="/static/game_style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="/uno/static/script.js"></script>
{% endblock %}
{% block content %}
    <div id="opponents">
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you == false %}
                <div class="player" data-you="false" name="{{ player }}">
                    <div id="player-name">{{ player }}</div>
                    <div id="player-hand">
                        {% if info.hand %}
                            {% for card in info.hand %}
                                <img class = "card" src="/uno/images/{{card.colour}}/{{card.value}}.svg" data-value={{card.value}} data-colour={{card.colour}} class="card">
                            {% endfor %}
                        {% else %}
                            {% for i in range(info.number_of_cards) %}
                                <img src="/uno/images/none/back.svg" data-colour="none" data-value="back" class="card">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div id="gameState">
        <div id="draw">
            <img src="/uno/images/none/back.svg" class="card clickable">
            {% for i in range(data.draw_length-1) %}
                <img src="/uno/images/none/back.svg" class="card stacking" >
            {% endfor %}
        </div>
        <div id="discard">
            {{data.discard}}
            <img src="/uno/images/{{data.discard.colour}}/{{data.discard.value}}.svg" class="card">
        </div>
    </div>
    <br>
    <div id="myHand">
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you %}
                <div class="player" data-you="true" name="{{ player }}">
                    <div id="player-name">{{ player }}</div>
                    <div id="player-hand">
                        {% for card in info.hand %}
                            <img class = "card clickable" src="/uno/images/{{card.colour}}/{{card.value}}.svg" data-value={{card.value}} data-colour={{card.colour}}>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
