{% extends "base.html.jinja" %}
{% block statics %}
    <title>Uno</title>
    <link rel="stylesheet" type ="text/css" href="/static/game_style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="/uno/static/script.js"></script>
{% endblock %}

{%- macro playerCard(username, number_of_cards, hand, you, focus) %}
    <div class="player" data-you="{{ you }}" name="{{ username }}" focus={{ focus }}>
        <div id="player-name">{{ username }}</div>
        <div id="player-hand">
            {% if hand %}
                {% for card in hand %}
                    {{- cardCard(card.colour, card.value) }}
                {% endfor %}
            {% else %}
                {% for i in range(number_of_cards) %}
                    {{- cardCard("none", "back") }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro cardCard(colour, value) %}
    <img class="card" src="/uno/images/{{colour}}/{{value}}.svg" data-value={{value}} data-colour={{colour}} class="card">
{%- endmacro %}

{% block content %}
    <div id="opponents">
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you == false %}
                {{- playerCard(player, info.number_of_cards, info.hand, "false", info.next_player==player) }}
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div id="gameState">
        <div id="draw">
            <img src="/uno/images/none/back.svg" class="card clickable">
            {% for i in range(data.draw_length-1) %}
                <img src="/uno/images/none/back.svg" class="card stacking" >
            {% endfor %}
        </div>
        <div id="discard">
            <img src="/uno/images/{{data.discard.colour}}/{{data.discard.value}}.svg" class="card">
        </div>
    </div>
    <br>
    <div id="myHand">
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you %}
                {{- playerCard(player, info.number_of_cards, info.hand, "true", data.next_player==player) }}
            {% endif %}
            <p>{{ data.next_player }} </p>
        {% endfor %}
    </div>
{% endblock %}
