{% extends "base.html.jinja" %}
{% block statics %}
    <title>Uno</title>
    <link rel="stylesheet" type ="text/css" href="/uno/static/style/game_style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="/uno/static/script/script.js"></script>
{% endblock %}

{%- macro playerCard(username, number_of_cards, hand, you, focus) %}
    <div class="player" data-you="{{ you }}" name="{{ username }}" focus={{ focus }}>
        <div id="player-name">{{ username }}</div>
        <div id="player-hand">
            {% if hand %}
                {% for card in hand %}
                    {{- cardCard(card.colour, card.value, position=loop.index-1, clickable=you) }}
                {% endfor %}
            {% else %}
                {% for i in range(number_of_cards) %}
                    {{- cardCard("none", "back", position=loop.index-1) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro cardCard(colour, value, position=0, clickable=false) %}
    <img class="card {% if clickable %} clickable {% if colour=="none" %}blank{% endif %}{% endif %}" 
        src="/uno/static/image/{{colour}}/{{value}}.svg" 
        data-value={{value}} data-colour={{colour}} class="card"
        style="--position:{{position}};" data-position={{position}}>
{% endmacro %}

{% macro popup(colours) %}
    <div id="popup">
        <div id="popup-background"></div>
        <div id="popup-content">
            <img src="/static/image/cancel.svg" id="popup-cancel" draggable="false">
            <h3>Pick a colour</h3>
            <div id="colours">
                {% for colour in colours %}
                    <img src="/uno/static/image/{{colour}}/back.svg" 
                    draggable="false" 
                    id="popup-{{colour}}"
                    class="card colour clickable" 
                    data-colour={{colour}}>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}
{% block content %}
    {{- popup(["red", "blue", "green", "yellow"]) -}}
    <div id="opponents">
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you == false %}
                {{- playerCard(player, info.number_of_cards, info.hand, "false", info.next_player==player) }}
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div id="gameState">
        <div id="draw">
            <img src="/uno/static/image/none/back.svg" class="card clickable">
            {% for i in range(data.draw_length-1) %}
                <img src="/uno/static/image/none/back.svg" class="card stacking" >
            {% endfor %}
        </div>
        <div id="discard">
            <img src="/uno/static/image/{{data.discard.colour}}/{{data.discard.value}}.svg" class="card">
        </div>
    </div>
    <br>
    <div id="myHand">
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you %}
                {{- playerCard(player, info.number_of_cards, info.hand, "true", data.next_player==player) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
