:root{
  --header-height: 25px;
  --header-padding-top: 10px;
  --header-padding-bottom: 10px;
  --header-height-total: calc(var(--header-height) + var(--header-padding-top) + var(--header-padding-bottom));

  --footer-height-total: 50px;
}
body {
  background-color: #566992;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}
/* header */
.header{/* header container */
  height: var(--header-height);
  position:fixed;
  background-color: rgb(89, 89, 206);
  top: 0;
  width:100vw;
  padding-top: var(--header-padding-top);
  padding-bottom: var(--header-padding-bottom);
  padding-left: 10px;
  justify-content: space-between;
  text-align: center;
  outline: black 1px solid;}
.header a { /* header links */
  float: left;
  color: black;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;}
.header_img{ /* styles the images to the right height and width */
  height: 25px;
  width: 25px;}
.header a.logo {/* Style the logo link*/
  font-size: 25px;
  font-weight: bold;}
.header a:hover {/* Change the background color on mouse-over */
  background-color: #ddd;
  color: black;}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;}


#content{
  margin-top: var(--header-height-total);
  margin-bottom: var(--footer-height-total);
  height: calc(100% - var(--header-height-total) - var(--footer-height-total));
}

#footer{
  height: 30px;
  position:fixed;
  background-color: rgb(99, 26, 218);
  bottom: 0;
  left:0;
  width:100%;
  padding: 10px;
  outline: black 1px solid;
  display: block;
}
#footer::before{
  margin-bottom: 30px;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 200px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.hamburger_container {
  position:absolute;
  top: 0;
  right:0;
  margin-right: 30px;
}
.hamburger {
  height: 20px;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger div {
  background-color: rgb(61, 61, 61);
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle_hamburger {
  display: none;
}

#toggle_hamburger:checked + .hamburger .hamburger_top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle_hamburger:checked + .hamburger .hamburger_meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle_hamburger:checked + .hamburger .hamburger_bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle_hamburger:checked ~ .dropdown {
  height: auto;
  display:block flex;
  flex-flow: column;
}

.dropdown {
  position: absolute;
  background-color: #566581;
  margin: 0;
  display: none;
  padding: 0;
  list-style: none;
  width: auto;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown a:first-child {
  margin-top: 40px;
}

.dropdown a:last-child {
  margin-bottom: 40px;
}

