{% extends "base.html.jinja" %}
{% block content %}
    <h1>About</h1>
    <p>This is a website that I created to learn the flask framework for my dofe</p>
    <p>On this website is an uno game</p>
{% endblock %}