<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/uno/images/blue/reverse.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/static/base.css">
    {% block statics %}{% endblock %}
</head>
<body>
</body>
    <div class="header">
        <a href="/" class="logo"><img href = "/uno/images/blue/reverse.svg" alt="Home"></a>
        <a href="/uno" class="uno-link">Uno</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        {% block links %}{% endblock %}
        {% if logged_in%}
        <a href="/login">Login</a>
        <a href="/sign_up">Sign Up</a>
        {% else %}
        <a href ="/profile">Profile</a>
        <a href ="/sign_out"><img href=sign_out.svg></a>
        {% endif %}
    </div>
    <div id="header-underlap">random text  nobody is going to see here</div>
    <div id="content">{% block content %}{% endblock %}</div> 
    <div id="footer">&copy; Copyright 2024 by me</div>
</html>
