<div id="Fact">
    <p class="date">{{date}}</p>
    <p>Fact of the Day: {{fact}}<p>
    <p>Sources : {{sources}}</p>
    <div id="reactions">
        {% for i in reactions %}
            <div id="emoji" count=i.count>i.emoji</div>
        {% endfor %}
    </div>
</div>