{% extends "base.html" %}
{% block statics %}
    <title>Uno</title>
    <link rel="stylesheet" type ="text/css" href="/static/game_style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="/uno/static/script.js"></script>
{% endblock %}
{%block content %}
    <div id="opponents">
        <p>{{ data }}</p>
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you == false %}
                <div class="player" data-you="false" id="{{ player }}">
                    <div id="player-name">{{ player }}</div>
                    <div id="player-hand">
                        {% if info.hand %}
                            {% set colour_lookup = ({"r": "red", "y": "yellow", "g": "green", "b": "blue"}) %}
                            {% for card in range(info.hand.__len__()//2) %}
                                {% set colour = colour_lookup[info.hand[card*2]] %}
                                {% set value = info.hand[card*2+1] %}
                                <img class = "card" src="/uno/images/{{colour}}/{{value}}.svg" data-value={{value}} data-colour={{colour}}>
                            {% endfor %}
                        {% else %}
                            {% for i in range(info.number_of_cards) %}
                                <img src="/uno/images/none/back.svg" data-colour="none" data-value="back">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div id="gameState"></div>
    <br>
    <div id="myHand">
        {% for player in data.players %}
            {% set info = data.players[player] %}
            {% if info.you %}
                <div class="player" data-you="true" id="{{ player }}">
                    <div id="player-name">{{ player }}</div>
                    <div id="player-hand">
                        {% set colour_lookup = ({"r": "red", "y": "yellow", "g": "green", "b": "blue"}) %}
                        {% for card in range(info.hand.__len__()//2) %}
                            {{info.hand[card*2]}}
                            {% set colour = colour_lookup[info.hand[card*2]] %}
                            {% set value = info.hand[card*2+1] %}
                            <img class = "card" src="/uno/images/{{colour}}/{{value}}.svg" data-value={{value}} data-colour={{colour}}>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}