{% extends "base.html.jinja" %}
{% block links %}{% endblock %}
{% block content %}
    <h3>My projects</h3>
    <div class="my_projects">
        <a href = "/fact"><img href="/images/links/fact" alt="Fact of the Day" class="slider_img"></a>
        <a href = "/uno"><img href="/uno/images/blue/reverse.svg alt="Uno" class="slider_img"></a>
    </div>
    {{% include "fact.html.jinja" %}}
    </div>
{% endblock %}