#opponents{
    flex-wrap: wrap;
    float:left;
    width: 100%;
}
#gameState{
    outline:1px solid gray;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#game-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#player-hand, #opponent-hand{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
}
.player-name{
    margin-bottom: 10px;
    font-weight: bold;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select:none
}
.player{
    outline:1px solid white;
    flex-wrap: wrap;
    float:left;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
}
#myHand{
    flex-wrap: wrap;
    position:absolute;
    bottom: 0;
}
.card {
    width: 50px;
    height: 75px;
    margin-top: 15px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    transition: transform 0.5s ease-in-out;
}
.clickable:hover{
    transform: translateY(-15px)
}
#draw{
    width: 200px;
    height: 75px; 
}
.stacking{
    margin-left: -55px
}